body {
  padding-top: 80px;
}

[id^="plot_"] {
  width: 560px;
  height: 560px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

[id^="square_"] {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  background-size: cover;
}

* {
  box-sizing: content-box;
}

@media (max-width: 576px) {
  [id^="plot_"] {
    width: 320px;
    height: 320px;
  }

  [id^="square_"] {
    width: 40px;
    height: 40px;
  }
}
